*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #675DA0;
}

header {
    text-align: center;
    background-color: #2D2269
}

h1 {
    text-decoration: underline;
}

h2#author {
    margin-top: 1%;
    margin-bottom: 0px;
    text-decoration: overline underline;
}

h3 {
    margin-right: 11%;
    margin-left: 11%;
    font-style: italic;
}

table#HTML {
    float: left;
    margin-top: 0px;
    max-width: 40%;
    min-width: 40%;
}

table#CSS {
    float: right;
    margin-top: 0px;
    max-width: 40%;
    min-width: 40%;
}

th, td, tr {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    border-radius: 10px;
}

th span {
    font-weight: 1000;
    text-shadow: 1px 1px #2D2269;
}

h4 {
    font-size: 20px;
}

.NotesList { /* Squeezes the Notes Buttons to fit between the two tables */
    margin: 0 40%;
    width: 20%;
} 

ul {
    margin: 2%;
    padding-inline-start: 0%;
}

ul li { /* This styles ul li elements only */
    padding: 1%;
    list-style-type: circle;
    list-style-position: inside;
}

ol  li { /* This styles the code examples, adjusting only the list elements which follow <ol> tags */
    list-style-type: upper-roman;
}

code {
    background-color: #BBB6DB;
}

/* The following code is for hover-over text */

.hide {
    display: none;
}

.hovering:hover + .hide {
    display: block;
    color: #675DA0;
}

/* The following is for tooltips */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #2D2269;
    color: #675DA0;
    text-align: center;
    padding: 5px 0;
    border-radius: 0%;
    position: absolute;
    z-index: 1;
}

.tooltip:hover + .tooltiptext {
    visibility: visible;
}

/* The following is drop-down code taken from W3Schools and edited to fit the site */

.dropbtn {
    background-color: #473C84;
    color: white;
    padding: 10% 15% 10%;
    font-size: 16px;
    border: none;
    text-align: center;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: grid;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #473C84;
    color: white;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


  /* example CSS for CSS table */

  .ex1 {
      color: white; 
      background-color: black;
    }